<mat-toolbar>
    <span routerLink="/shoelist">BuyMeShoes!</span>
    @if(isLoggedIn){
    <span class="example-spacer"></span>
    <button routerLink="/shoelist" mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Product List
    </button>
    <button routerLink="/checkout" routerLinkActive="router-link-active" mat-button class="example-icon">
        @if(cartProduct !== 0){
            <span>{{cartProduct}}</span>
        }
       
        <mat-icon>shopping_cart</mat-icon>
    </button>
    <button routerLink="/orders" mat-button class="example-icon" aria-label="Example icon-button with share icon">
        Previous Orders
    </button>
    <button  mat-button class="example-icon" aria-label="Example icon-button with share icon" (click)="onLogout()">
        Logout
    </button>
    }
    

</mat-toolbar>