<div class="orders">
    <!-- <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Order ID : {{order.orderId}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p>
               Ordered Shoes Overview: @for(item of order.cart.items;track $index){
                <p>{{$index + 1}} : {{item.name | titlecase}}<br>
                    <span>
                        Shoe price : {{item.cost}}<br>
                    </span>
                    <span>
                        Quantity Ordered : {{item.quantity}}<br>
                    </span>
                    <span>
                        <button mat-button type="button" (click)="onClick(item.productId)">More details of shoe</button>
                        <button mat-button type="button" (click)="addReview(item.productId)">Review this Shoe</button>
                    </span> </p><br>
               }
               Shoes Ordered : {{order.cart.items.length}}<br>   
               Total Cost : {{order.cart.totalAmount}}<br>
               Order Date : {{order.orderDate}}
               
            </p>
            
        </mat-card-content>

       
    </mat-card> -->
    <h2>Order ID : {{order.orderId}}</h2>
    <h4>Order Date : {{order.orderDate}}</h4>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let item"> {{item.name |titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="priceperpiece">
            <th mat-header-cell *matHeaderCellDef> Cost for 1 item </th>
            <td mat-cell *matCellDef="let item"> {{item.cost}} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity bought </th>
            <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="totalprice">
            <th mat-header-cell *matHeaderCellDef> Total price for product</th>
            <td mat-cell *matCellDef="let item"> {{item.cost * item.quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="gst">
            <th mat-header-cell *matHeaderCellDef>GST%</th>
            <td mat-cell *matCellDef="let item"> {{item.gst}} </td>
        </ng-container>
         <ng-container matColumnDef="gstcost">
            <th mat-header-cell *matHeaderCellDef>GST</th>
            <td mat-cell *matCellDef="let item">{{(item.cost * item.quantity)*(item.gst/100)}}</td>
        </ng-container>
        <ng-container matColumnDef="totalcostaftergst">
            <th mat-header-cell *matHeaderCellDef>Total cost after GST</th>
            <td mat-cell *matCellDef="let item">{{item.totalcost}}</td>
        </ng-container>
        <ng-container matColumnDef="review">
            <th mat-header-cell *matHeaderCellDef> Add Review</th>
            <td mat-cell *matCellDef="let item">
                <button mat-flat-button type="button" color="primary" (click)="addReview(item.productId)">Review this Shoe</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <h3>Total Cost : {{order.cart.totalAmount}}</h3>
</div>