.addbutton{
    margin-bottom: 5px;
}
.container{
    margin: 10px;
}
.actionicon{
    margin: 5px;
}

.filtering{
    display: flex;
}
.filterbased{
    margin: 5px;
}

.row{
    display: flex;
    justify-content: space-between;
}