.orderhistory{
    margin: 10px;
   
}
.ordercard{
    margin: 10px;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
}
.header{
    margin-left: 100px;
}
.orders{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items{
    margin-top: 5px;
}