<div class="orderhistory">
    <h2>Order History</h2>
    <div class="orders">
        @if(currentUserOrders.length !== 0){
        @for(order of currentUserOrders; track order){
        <div class="cards">
            <mat-card class="ordercard" appearance="outlined">
                <div>
                    <mat-card-header class="header">
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Order ID : {{order.orderId}}</mat-card-title>
                    </mat-card-header>
                </div>
                <div>
                    <mat-card-content>
                         Products Ordered :
                        <ol>    
                            @for(item of order.cart.items;track $index){
                            <li class="items"> {{item.name | titlecase}}</li>
                            }</ol><br>
                        Order Date : {{order.orderDate}}
                       
                    </mat-card-content>
                </div>
                <div>
                    <mat-card-actions>
                        <button mat-flat-button type="button" color="primary" (click)="onClick(order.orderId)">More details</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
        }
        }

        @else {
        <p>You have no history of orders,
            Lets change that by <strong><i><a (click)="toBuy()">Clicking here</a></i></strong>
        </p>
        }
    </div>
</div>