<div class="shoeForm">
    <form (ngSubmit)="onSubmit()" [formGroup]="shoeForm" class="form">
        @if(mode === 'update'){
            <div>
                <h2>Update form</h2>
            </div>
        }
        @else {
            <div>
                <h2>Add form</h2>
            </div>
        }
        @if(mode === 'update'){
            <div>
            <mat-form-field>
                <mat-label>Shoe Id</mat-label>
                <input matInput formControlName="id" [readonly]="true">
            </mat-form-field>
        </div>
        }
        <div>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                    @if(shoeForm.get('name')?.hasError('required') &&(shoeForm.get('name')?.touched) && shoeForm.get('name')?.dirty){
                        <mat-error>Please add Name</mat-error>
                    }
                   @if(isSubmit && shoeForm?.get('name').hasError('required')){
                        <mat-error>Please add Name</mat-error>
                   } 
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select formControlName="categoryId">
                    @for (category of categories; track $index) {
                    <mat-option [value]= "category.id">
                        {{category.name | titlecase}}
                    </mat-option>
                    }
                </mat-select>
                @if(shoeForm.get('category')?.hasError('required')){
                        <mat-error>Please add category</mat-error>
                    }
                    @if(isSubmit && shoeForm.get('category')?.hasError('required')){
                        <mat-error>Please add Category</mat-error>
                   } 
            </mat-form-field>
        </div>
        <div>
            <div formArrayName="img_url">
                <mat-label>Image Url</mat-label>
                
                @for(url of getUrlArray().controls;track url ; let i = $index){
                    <mat-form-field>
                        <input matInput [formControlName]="i">
                    </mat-form-field>
                        <div>
                            <button mat-button type="button" (click)="removeUrl(i)">Remove</button>
                        </div>
                }    
                <button mat-flat-button type="button" (click)="addUrl()">Add Url</button>   
            </div>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
                @if(shoeForm.get('description')?.hasError('required') &&(shoeForm.get('description').touched && shoeForm.get('description').dirty)){
                        <mat-error>Please add category</mat-error>
                    }
                    @if(isSubmit && shoeForm?.get('description').hasError('required')){
                        <mat-error>Please add Category</mat-error>
                   } 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Inventory</mat-label>
                <input matInput formControlName="inventory" type="number" >
                @if(shoeForm.get('inventory')?.hasError('required') &&(shoeForm.get('inventory').touched && shoeForm.get('inventory').dirty)){
                        <mat-error>Please add Inventory</mat-error>
                    }
                    @if(isSubmit && shoeForm?.get('inventory').hasError('required')){
                        <mat-error>Please add Inventory</mat-error>
                   } 
                   @if(shoeForm?.get('inventory').hasError('min') && (shoeForm.get('inventory').touched)){
                    <mat-error>Minimum value should be 1</mat-error>
                   }
            </mat-form-field>
        </div>
         <div>
            <mat-form-field>
                <mat-label>Cost</mat-label>
                <input matInput formControlName="cost" [min]="1">
                @if(shoeForm.get('cost')?.hasError('required') &&(shoeForm.get('cost').touched && shoeForm.get('cost').dirty)){
                        <mat-error>Please add Cost</mat-error>
                    }
                    @if(isSubmit && shoeForm?.get('cost').hasError('required')){
                        <mat-error>Please add Cost</mat-error>
                   } 
                   @if(shoeForm?.get('cost').hasError('min') && (shoeForm.get('cost').touched)){
                    <mat-error>Minimum value should be 1</mat-error>
                   }
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Discount</mat-label>
                <input matInput formControlName="discount"[min]="1">
                @if(shoeForm.get('discount')?.hasError('required')){
                        <mat-error>Please add Cost</mat-error>
                    }
                   @if(shoeForm?.get('discount').hasError('min') && (shoeForm.get('cost').touched)){
                    <mat-error>Minimum value should be 1</mat-error>
                   }
            </mat-form-field>
        </div>
        <div>
            <button mat-flat-button type="submit">Submit</button>
        </div>
    </form>
</div>