<div>
    SignUp
</div>
<div class="signupForm">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
            </mat-form-field>
        </div>
        <div>
            <button mat-flat-button type="submit">Submit</button>
        </div>

    </form>
</div>